.section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    margin-top: 100px;
    width: 1600px;
    margin-left: 150px;
    border-radius: 25px;
}

.carousel {
    margin-top: 100px;
}

.item {
    padding-bottom: 100px;
}

.gif {
    height: 250px;
    width: 350px;
}
