.section {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 900px;
    background-color: white;
    width: 1450px;
    border-radius: 25px;
    margin-left: 200px;
    padding-left: 50px;
    margin-top: 100px;
}

.title {
    width: 300px;
    height: 100px;
    margin-top: 200px;
}

.text {
    width: 300px;
    height: 100px;
    margin-top: 300px;
}

.img {
    width: 350px;
    height: 250px;
}


.post1 {
    display: grid;
    margin-left: 300px;
    margin-top: 80px;
    height: 700px;
}

.post {
    display: grid;
    height: 300px;
    width: 350px;
}

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.link {
    margin: auto;
}

.post2 {
    display: grid;
    margin-left: 100px;
    margin-top: 160px;
    height: 700px;
}
