.navbar {
    width: 100%;
    height: 100px;
    background-color: #264653;
    display: flex;
    position: fixed;
    z-index: 1;
}

.cont_link {
    margin-top: 35px;
}

.link {
    color: white;
    text-decoration: none;
    margin-inline: 30px;
}

.link:hover {
    border-left: 2.5px solid rgb(19, 209, 184);
    border-bottom: 1.5px solid rgb(19, 209, 184);
    padding: 0;
}

.img {
    margin-left: 300px;
    margin-right: 50px;
}


@media only screen and (max-width: 1380px) {

    .img {
        margin-left: 200px;
    }
}

@media only screen and (max-width: 1170px) {

    .img {
        margin-left: 2px;
    }
}
